
.root {
    -grey-0: rgb(30, 30, 30);
    -grey-1: rgb(40, 40, 40);
    -grey-2: rgb(45, 45, 45);
    -grey-3: rgb(51, 51, 51);
    -grey-4: rgb(65, 65, 65);
    -grey-5: rgb(80, 80, 80);
    -purple-0: rgb(40, 0, 40);
    -purple-1: rgb(60, 0, 60);
    -purple-2: rgb(70, 0, 70);
    -purple-3: rgb(90, 0, 90);
    -purple-4: rgb(110, 0, 110);

    -fx-background-color: -grey-3;

    -fx-color: rgb(255, 255, 255);
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14px;
    -fx-disabled-opacity: 0.6;
}

/**
 * BUTTONS
 */
.button {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0, 1);
    -fx-background-color: -purple-2;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: 'Roboto';
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
    -fx-padding: 0.7em;
    -fx-alignment: CENTER;
}

.button:armed {
    -fx-background-color: -purple-3;
}

/**
 * TEXTFIELDS
 */

.text-field, .text-area {
    -fx-background-color: rgba(100, 100, 100, 0.1);
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
    -fx-padding: 0.8em 0.8em 0.8em 0.6em;
    -fx-border-width: 1 1 1 10;
    -fx-border-color: -purple-0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: derive(-grey-5, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}

.text-field:focused, .text-area:focused {
    -fx-background-color: rgba(150, 150, 150, 0.1);
    -fx-border-color: -purple-3;
}

.text-area .scroll-pane .content {
    -fx-background-color: rgba(0, 0, 0, 0);
}

/**
 * CHECKBOXES
 */
.check-box {
    -fx-padding: 10;
}

.check-box .text {
    -fx-fill: -fx-color;
}

.check-box>.box, .check-box>.box.unfocused, .check-box:disabled>.box,
.check-box:indeterminate>.box {
    -fx-border-radius: 4.0;
    -fx-border-color: -grey-0;
    -fx-border-width: 2;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-padding: 1;
}

.check-box:selected>.box {
    -fx-border-color: -purple-2;
    -fx-background-color: -purple-2;
}

.check-box:focused>.box {
    -fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0, 0);
}

.check-box:selected>.box>.mark {
    -fx-background-color: white;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

/**
 * TAB PANE AND TAB CONTENT
 */
.tab {
    -fx-background-color: -grey-4;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.tab-selected {
    -fx-background-color: -purple-3;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport * {
    -fx-text-fill: white;
}

.darker {
    -fx-background-color: rgba(41, 41, 41, 0.4);
}

.menu .label {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: -grey-2;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.whitetext {
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: -grey-1;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused {
    -fx-background-color: -purple-4;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: -grey-2;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
}